.container {
	padding: 1rem;
	max-width: 780px;
}

.hero .is-2 img {
	max-height: 8rem;
}


@media screen and (max-width: 769px), print {
  .hero {
    margin-left: -2rem;
    margin-right: -2rem;
    margin-top: -2.5rem;
  }
}