.spinner-content .columns .column:nth-child(2){
  padding-top: 2.25rem;
}

.gameinfo {
  padding-top: 1.25rem;
}

.game-container p {
	margin-bottom: 0!important;
}

.game-container .columns .column:nth-child(2) {
	padding-top: 0;
}

.navigation .button {
	min-width: 35px;
}