<%- contentFor('css') %>
<%- contentFor('js') %>
<%- contentFor('content') %>

    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            LiveChess
          </h1>
          <h2 class="subtitle">
            Acerca de
          </h2>
          <div class="content">
            <p>Tablero virtual para transmisión en vivo de torneos de ajedrez. (En desarrollo).</p>
            <h3>Objetivos</h3>
            <ul>
              <li>Proveer de herramientas digitales para la promoción del deporte del ajedrez en Argentina</li>
              <li>Segmentación por torneos, jugadores y rondas (en desarrollo)</li>
              <li>Estadísticas (en desarrollo)</li>
            </ul>
            <h3>Aspectos técnicos</h3>
            <ul>
              <li>Node JS (framework)</li>
              <li>Chess JS engine (motor de juego)</li>
              <li>Chessboard JS (renderización de tableros)</li>
              <li>Socket (transmisión en tiempo real)</li>
              <li>Mlab (capa de datos persistente)</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
