<%- contentFor('css') %>
<%- contentFor('js') %>
<%- contentFor('content') %>

    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <div class="content">
            <h1 class="title">
              Acerca de AjedrezEV
            </h1>
            <blockquote>Tablero virtual para emisión en vivo de torneos de ajedrez.</blockquote>
            <h3>De que se trata</h3>
            <p class="has-text-success">Este proyecto es puramente educacional. Los participantes no reciben ningún tipo de financiación y no tienen ánimos de lucro por este proyecto.</p>
            <p>El código fuente de este proyecto fue creado y es mantenido por un solo desarrollador ad honorem. Actualmente tiene un solo idioma, castellano porque pretende llegar a los nuevos entusiastas del ajedrez en Argentina y países hermanos de habla castellana. Existe la posibilidad de extender la aplicación a multi-idioma pero es necesaria la bondadosa colaboración de eventuales entusiastas. </p>
            <p>Si estas interesado en participar de este proyecto puedes <a href="mailto:overlemonsoft@gmail.com?Subject=Hola, Quiero colaborar con el proyecto AjedrezEV">solicitarlo aquí</a>.            
            <h3>Objetivos</h3>
            <ul>
              <li>Proveer de herramientas digitales para la promoción del deporte del ajedrez en Argentina</li>
              <li>Segmentación por torneos, jugadores y rondas (en desarrollo)</li>
              <li>Estadísticas (en desarrollo)</li>
            </ul>
            <h3>Aspectos técnicos</h3>
            <ul>
              <li>Node JS</li>
              <li>Express JS</li>
              <li>EJS (templates)</li>
              <li>Chess JS engine (motor de juego)</li>
              <li>Chessboard JS (renderización de tableros)</li>
              <li>Socket.io (transmisión en tiempo real)</li>
              <li>mLab (capa de datos persistente)</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

