<%- contentFor('css') %>

  <link rel="stylesheet" href="/css/chessboard.css" />
  <link rel="stylesheet" href="/css/game.css" />

<%- contentFor('js') %>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/libs/chess.js"></script>
  <script src="/js/libs/chessboard.js"></script>
  <script src="/js/game.js"></script>

<%- contentFor('content') %>

  <svg class="spinner-container" viewBox="0 0 44 44">
      <circle class="path" cx="22" cy="22" r="20" fill="none" stroke-width="4"></circle>
  </svg>
  
  <div class="spinner-content container">
    <div class="game-container content"></div>
  </div>

  <script id="match" type="text/x-jsrender">
    <div class="columns is-mobile">
      <div class="column pull-right">
        [[if black && black.length]]
        <p class="has-text-left boardhead">
          <span id="black">[[:black]]&nbsp;</span>
          <span class="has-text-info" id="blackelo">[[:blackelo]]</span>
        </p>
        [[else]]
        <p class="has-text-left">
          <span id="white">[[:event]]&nbsp;</span>
        </p>
        [[/if]]
        <div id="board"></div>
        [[if white && white.length]]
        <p class="has-text-right boardfoot">
          <span id="white">[[:white]]&nbsp;</span>
          <span class="has-text-info" id="whiteelo">[[:whiteelo]]</span>
        </p>
        [[else]]
        <p class="has-text-right">
          <span id="white">[[:date]] [[:site]]&nbsp;</span>
        </p>
        [[/if]]
      </div>
      <div class="column">
        <div class="navigation">
          <a class="button" id="first" title="Posición inicial [down]">«</a>
          <a class="button" id="back" title="Posición anterior [left]">‹</a>
          <a class="button" id="next" title="Posición seiguiente [right]">›</a>
          <a class="button" id="last" title="Posición final [up]">»</a>
          <a class="button" id="flip" title="Rotar [f]">⟲</a>
          <a class="button" id="nightmode" title="Modo nocturno [n]">💡</a>
        </div>
        <div class="gameinfo">
        </div>
      </div>
    </div>
  </script>

  <script id="gameinfo" type="text/x-jsrender">
    [[if event]]
      <p>Evento <span class="has-text-info">[[:event]]</span></p>
    [[/if]]
    [[if date]]
      <p>Fecha <span class="has-text-info">[[:date]]</span></p>
    [[/if]]
    [[if site]]
      <p>Lugar <span class="has-text-info">[[:site]]</span></p>
    [[/if]]
    [[if eco]]
      <p>ECO <span class="has-text-info">[[:eco]]</span></p>
    [[/if]]
    [[if result]]
      <p>Resultado <span class="has-text-info">[[:result]]</span></p>
    [[/if]] 
    [[if comments]]
      <p>Comentarios <span class="has-text-info">[[:comments]]</span></p>
    [[/if]]     
      <hr>
      <p>Estado <span class="has-text-info" id="status">[[:status]]</span></p>
      <p>PGN <span class="has-text-info" id="pgn">[[:pgn]]</span></p>
      <p>FEN <span class="has-text-info" id="fen">[[:fen]]</span></p>
  </script>