<%- contentFor('css') %>

  <link rel="stylesheet" href="/css/chessboard.css" />

<%- contentFor('js') %>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/libs/chess.js"></script>
  <script src="/js/libs/chessboard.js"></script>
  <script> var data = <%- JSON.stringify(data) %></script>
  <script src="/js/game.js"></script>

<%- contentFor('content') %>

    <div class="columns">
      <div class="column">
        <p>
          <span id="black"></span>
          <span class="has-text-info" id="blackelo"></span>
        </p>
        <div id="board"></div>
        <p class="has-text-right">
          <span id="white"></span>
          <span class="has-text-info" id="whiteelo"></span>
        </p>
      </div>
      <div class="column">
        <div>
          <a class="button" id="first">&laquo;</a>
          <a class="button" id="back">&lsaquo;</a>
          <a class="button" id="next">&rsaquo;</a>
          <a class="button" id="last">&raquo;</a>
          <a class="button" id="flip">⟲</a>
        </div>
        <p>Estado <span class="has-text-info" id="status"></span></p>
        <p>PGN <span class="has-text-info" id="pgn"></span></p>
        <p>Evento <span class="has-text-info" id="event"></span></p>
        <p>Fecha <span class="has-text-info" id="date"></span></p>
        <p>Lugar <span class="has-text-info" id="site"></span></p>
        <p>ECO <span class="has-text-info" id="eco"></span></p>
        <p>Resultado <span class="has-text-info" id="result"></span></p>
      </div>
    </div>