<%- contentFor('css') %>

	<link rel="stylesheet" href="/css/chessboard.css" />

<%- contentFor('js') %>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/libs/chess.js"></script>
    <script src="/js/libs/chessboard.js"></script>
	<script src="/js/games.js"></script>

<%- contentFor('content') %>

	<svg class="spinner-container" viewBox="0 0 44 44">
	    <circle class="path" cx="22" cy="22" r="20" fill="none" stroke-width="4"></circle>
	</svg>

    <div id="boards" class="columns is-multiline">
    </div>