<%- contentFor('css') %>

<%- contentFor('js') %>

<%- contentFor('content') %>

    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Partida no encontrada
          </h1>
          <h2 class="subtitle">
            No se encontró esta partida.
          </h2>
        </div>
      </div>
    </section>

