<%- contentFor('css') %>

  <link rel="stylesheet" href="/css/chessboard.css" />
  <style type="text/css">
    
    #board {
      width: 50%; 
      margin: 0 auto;
    }
    .highlight-white {
      -webkit-box-shadow: inset 0 0 5px 5px yellow;
      -moz-box-shadow: inset 0 0 5px 5px yellow;
      box-shadow: inset 0 0 5px 5px yellow;  
    }
    .highlight-black {
      -webkit-box-shadow: inset 0 0 5px 5px blue;
      -moz-box-shadow: inset 0 0 5px 5px blue;
      box-shadow: inset 0 0 5px 5px blue;  
    }
    .status {
      display: inline-block;
      width: 100%;
      position: fixed;  
      bottom: 0;
    }
    .bar {
      background-color: rgba(0,0,0,0.1);
      cursor: pointer;
    }
    .bar-progress {
      height: 1.5rem;
      background-color: red;
      width: 0;
    }
    .nightmode .bar-progress {
      background-color: orange; 
    }
    .bar-progress.paused {
      background-color: grey;
    }
    .boardhead {
      padding-left: 25%;
    }
    .boardfoot {
      padding-right: 25%;
      margin-top: 0.75rem!important;
    }
  </style>

<%- contentFor('js') %>

  <script src="/js/libs/chess.js"></script>
  <script src="/js/libs/chessboard.js"></script>
  <script src="/js/game.js"></script>
 
<%- contentFor('content') %>

  <svg class="spinner-container" viewBox="0 0 44 44">
      <circle class="path" cx="22" cy="22" r="20" fill="none" stroke-width="4"></circle>
  </svg>
  
  <div class="spinner-content container">
    <div class="game-container content"></div>
  </div>
  
  <div class="status">
    <span class="has-text-weight-semibold">&nbsp;🕗 <span id="speed"></span>ms</span>
    <div class="bar">
      <div class="bar-progress"></div>
    </div>
  </div>

  <script id="game" type="text/x-jsrender">
    <div class="columns is-tablet">
      <div class="column">
        <h3 class="has-text-left boardhead">
        [[if black && black.length]]
          <span id="black">([[:~parseResult(result,'w')]]) [[:black]]&nbsp;</span>
          <span class="has-text-info" id="blackelo">[[:blackelo]]</span>
        [[else]]
          <span id="white">[[:event]]&nbsp;</span>
        [[/if]]
        </h3>
        <div id="board"></div>
        <h3 class="has-text-right boardfoot">
        [[if white && white.length]]
          <span id="white">([[:~parseResult(result,'b')]]) [[:white]]&nbsp;</span>
          <span class="has-text-info" id="whiteelo">[[:whiteelo]]</span>
        [[else]]
          <span id="white">[[:date]] [[:site]]&nbsp;</span>
        [[/if]]
        </h3>
      </div>
    </div>
  </script>  