<%- contentFor('css') %>

  <link rel="stylesheet" href="/css/chessboard.css" />

<%- contentFor('js') %>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/libs/chess.js"></script>
  <script src="/js/libs/chessboard.js"></script>
  <script src="/js/game.js"></script>

<%- contentFor('content') %>

  <svg class="spinner-container" viewBox="0 0 44 44">
      <circle class="path" cx="22" cy="22" r="20" fill="none" stroke-width="4"></circle>
  </svg>
  
  <div class="spinner-content">
    <div class="columns">
      <div class="column">
        <p class="boardhead">
          <span id="black"></span>
          <span class="has-text-info" id="blackelo"></span>
        </p>
        <div id="board"></div>
        <p class="has-text-right boardfoot">
          <span id="white"></span>
          <span class="has-text-info" id="whiteelo"></span>
        </p>
      </div>
      <div class="column">
        <div>
          <a class="button" id="first">«</a>
          <a class="button" id="back">‹</a>
          <a class="button" id="next">›</a>
          <a class="button" id="last">»</a>
          <a class="button" id="flip">⟲</a>
        </div>
        <p>Estado <span class="has-text-grey" id="status"></span></p>
        <p>PGN <span class="has-text-grey" id="pgn"></span></p>
        <p>Evento <span class="has-text-grey" id="event"></span></p>
        <p>Fecha <span class="has-text-grey" id="date"></span></p>
        <p>Lugar <span class="has-text-grey" id="site"></span></p>
        <p>ECO <span class="has-text-grey" id="eco"></span></p>
        <p>Resultado <span class="has-text-grey" id="result"></span></p>
      </div>
    </div>
  </div>