<%- contentFor('css') %>
<%- contentFor('js') %>
<%- contentFor('content') %>

    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column is-2">
              <img src="/img/knightpawn.png">
            </div>
            <div class="column">
              <h1 class="title">
                LiveChess
              </h1>
              <h2 class="subtitle">
                Transmisión en vivo de torneos de ajedrez
              </h2>
              <p>Tablero virtual para transmisión en vivo de torneos de ajedrez. (En desarrollo).</p>
            </div>
          </div>
          <div class="content">            
            <h3>Disclaimer</h3>
            <p class="has-text-success">Este proyecto es puramente educacional, no recibe ningún tipo de financiación y no tiene ánimos de lucro.</p>
            <p>Este proyecto fue creado y es mantenido por un solo desarrollador y es totalmente ad honorem. Actualmente tiene un solo idioma, castellano porque pretende llegar a los nuevos entusiastas del ajedrez en Argentina y países hermanos de habla castellana. Existe la posibilidad de extender la aplicación a multi-idioma pero es necesaria la bondadosa colaboración de eventuales entusiastas. </p>
            <p>Este proyecto es puramente educacional, no recibe ningún tipo de financiación y no tiene ánimos de lucro.</p>
            <p>Si estas interesado en participar de este proyecto puedes <a href="mailto:overlemonsoft@gmail.com?Subject=Hola, Quiero colaborar con el proyecto LiveChess">solicitarlo aquí</a>.
            <h3>ChangeLog</h3>
            <ul>
              <li class="has-text-success">2.4.19 Inicio del proyecto — Visualización de partidas online.</li>
              <li class="has-text-success">4.4.19 Versión 0.1 — Capa de datos persistente. Posibilidad de guardar partidas.</li>
              <li>6.4.19 Versión 0.2 — Detalles de la partidas. Posibilidad de importar datos de chessdb. Formulario de búsqueda por jugador o evento.</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

