<%- contentFor('css') %>

  <link rel="stylesheet" href="/css/chessboard.css" />

<%- contentFor('js') %>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/libs/chess.js"></script>
    <script src="/js/libs/chessboard.js"></script>
    <script src="/js/games.js"></script>
 
<%- contentFor('content') %>

  <svg class="spinner-container" viewBox="0 0 44 44">
      <circle class="path" cx="22" cy="22" r="20" fill="none" stroke-width="4"></circle>
  </svg>

  <div class="hero is-info">
    <div class="hero-body">

      <div class="columns is-tablet">
        <div class="column is-2">
          <img src="/img/knightpawn.png">
        </div>
        <div class="column">
          <div class="hero-title">
            <h1 class="title">
              Ajedrez en Vivo
            </h1>
            <h2 class="subtitle">
              Emisión en vivo de torneos de ajedrez
            </h2>
          </div>
          <form id="search">
            <div class="field has-addons">
              <div class="control">
                <input class="input is-large is-rounded" name="query" type="text" placeholder="Ingresa evento, lugar o jugador">
              </div>
              <div class="control">
                <button type="submit" id="searchbtn" class="button is-large is-rounded is-success">
                    <span class="fa fa-search"></span>
                </button>
              </div>
            </div>
          </form>            
        </div>
      </div>
    </div>
  </div>
  
  <span class="has-text-success" id="gamecount"></span>

  <div class="container">
    <div id="boards" class="columns is-multiline">
    </div>
  </div>

  <script id="empty" type="text/x-jsrender">
    <p class="has-text-danger"><span class="fa fa-warning"></span> No hay partidas en este momento. <a href="#" id="create">Crea tu partida!</a></p>
  </script>

  <script id="count" type="text/x-jsrender">
    <p>Total [[:count]] partidas</p>
  </script>

  <script id="match" type="text/x-jsrender">
    <a class="column is-4 is-tablet has-text-grey" href="/[[:room]]">
      <p>
        [[if black && black.length]]
        <small>[[:black]]&nbsp;</small>
        <!--small class="has-text-grey">[[:blackelo]]</small-->
          [[else]]
        <small>[[:event]]&nbsp;</small>
        <!--small class="has-text-grey">[[:blackelo]]</small-->
          [[/if]]
      </p>
      <div id="[[:room]]"></div>
      <p class="has-text-right">
        [[if white && white.length]]
        <small>[[:white]]&nbsp;</small>
        <!--small class="has-text-grey">[[:whiteelo]]&nbsp;</small-->
          [[else]]
        <small>[[:site]]&nbsp;[[:date]]</small>
          [[/if]]
      </p>
    </a>
  </script>  