<%- contentFor('css') %>

<title>Ajedrez en vivo</title>

<%- contentFor('js') %>

  <script type="text/javascript">
    $.ajax({
      url:'/gamecount',
      method:'POST',
      success:function(res){
        $('#gamecount').html($.templates("#count").render({count:res})).promise().done(function (){
          $('.spinner-container').fadeOut('fast', function(){
            $('.spinner-content').fadeTo('fast',1)
          })
        })
      }
    })  
  </script>

<%- contentFor('content') %>

  <svg class="spinner-container" viewBox="0 0 44 44">
      <circle class="path" cx="22" cy="22" r="20" fill="none" stroke-width="4"></circle>
  </svg>

  <div class="hero is-danger">
    <div class="hero-body is-illustrated">
      <div class="columns is-tablet">
        <div class="column is-2">
          <!--img src="/img/knightpawn.png"-->
        </div>
        <div class="column">
          <div class="hero-title">
            <h1 class="title">
              Ajedrez en Vivo
            </h1>
            <h2 class="subtitle">
              Emisión en vivo de torneos
            </h2>
          </div>
          <form id="search">
            <div class="field has-addons">
              <div class="control">
                <input class="input is-rounded" name="query" type="text" placeholder="Evento, lugar, fecha, jugador o PGN">
              </div>
              <div class="control">
                <button type="submit" id="searchbtn" class="button is-rounded is-primary">
                  <span>🔎</span>
                </button>
              </div>
            </div>
          </form>            
        </div>
      </div>
    </div>
  </div>
  
  <span class="has-text-info" id="gamecount"></span>

  <script id="empty" type="text/x-jsrender">
    <div class="hero">
      <div class="hero-body">
        <p class="has-text-danger"><span class="fa fa-warning"></span> No hay partidas en que coincidan con <strong>[[:query]]</strong>. Prueba con otra ej: Kasparov, Fischer, etc. ó </p>
        <hr>
        <p class="has-text-centered hero">
          <a href="#" class="button is-success is-outlined" id="create">Crea tu partida!</a>
        </p>
      </div>
    </div>
  </script>

  <script id="count" type="text/x-jsrender">
    <p>[[:count]] partida[[if count > 1]]s[[/if]]</p>
  </script>
