<%- contentFor('css') %>
<%- contentFor('js') %>
<%- contentFor('content') %>

    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            LiveChess
          </h1>
          <h2 class="subtitle">
            Transmisión en vivo de torneos de ajedrez
          </h2>
          <div class="content">
            <p>Tablero virtual para transmisión en vivo de torneos de ajedrez. (En desarrollo).</p>
            <h3>Log</h3>
            <ul>
              <li>2.4.19 Inicio del proyecto</li>
              <li>4.4.19 Versión 0.1</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

