<html>
  <head>
    <title>LiveChess</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">  
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/bulma.css" />
    <link rel="stylesheet" href="/css/bulma-custom.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <%- css %>
  </head>
  <body>

   <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="/img/logo.png">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a href="/online" class="navbar-item">
            En vivo
          </a>

          <a href="/results" class="navbar-item">
            Resultados
          </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Más
            </a>

            <div class="navbar-dropdown">
              <a href="/games" class="navbar-item">
                Encontrar partidas
              </a>
              <a href="/about" class="navbar-item">
                Acerca de
              </a>
              <a href="mailto:overlemonsoft@gmail.com?Subject=Contacto desde LiveChess" class="navbar-item">
                Contacto
              </a>
              <a href="https://github.com/martinfrith/livechess" class="navbar-item">
                Github
              </a>
              <!--hr class="navbar-divider">
              <a class="navbar-item">
                Report an issue
              </a-->
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-info is-outlined is-uppercase" id="create">
                Partida nueva
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <section class="container is-fluid">
      <%- content %>    
    </section>

    <script id="notification" type="text/x-jsrender">
      <div class="notification is-[[:status]]">
        <button class="delete"></button>
        [[:message]]
      </div>
    </script>

    <script src="/js/libs/jquery-1.10.1.min.js"></script>
    <script src="/js/libs/jsrender.min.js"></script>
    <script src="/js/libs/moment-with-locales.min.js"></script>
    <script src="/js/utils.js"></script>
    <%- js %>
  </body>
</html>