    <nav role='navigation'>
      <div id="anchor">
        <a href="/">
          <img src="/img/logo.png">
        </a>
      </div>

      <div id="menuToggle">
        <input type="checkbox" />
        
        <span></span>
        <span></span>
        <span></span>
        
        <ul id="menu">
          <a href="#"><li><img src="/img/logo.png"></li></a>
          <a href="/vivo"><li>En vivo</li></a>
          <a href="/results"><li>Resultados</li></a>
          <a href="/puzzles"><li>Puzzles</li></a>
          <a href="/about"><li>Acerca de</li></a>
          <a href="https://github.com/martinfrith/livechess" target="_blank"><li>Github</li></a>
          <a href="mailto:overlemonsoft@gmail.com?Subject=Contacto desde AjedrezEV"><li>Contacto</li></a>
          <a href="#" class="button is-large is-success" id="create"><li>Nueva partida</li></a>
        </ul>
      </div>
    </nav>

