<%- contentFor('css') %>

	<title>Aperturas</title>

<%- contentFor('js') %>

	<script type="text/javascript">
		$(document).ready(function(){
		    $.ajax({
		      url:'/games',
		      method:'POST',
		      data: {filter:'openings'},
		      success:function(res){
		        $('#results').html($.templates(res.length?"#games":"#empty").render({games:res},parseHelpers)).promise().done(function (){
		          $('.spinner-container').fadeOut('fast', function(){
		            $('.spinner-content').fadeTo('fast',1)
		          })
		        })
		      }
		    })  
		})

	</script>

<%- contentFor('content') %>

	<svg class="spinner-container" viewBox="0 0 44 44">
	    <circle class="path" cx="22" cy="22" r="20" fill="none" stroke-width="4"></circle>
	</svg>
	
	<div class="container">
		<div class="content">
	        <h1>Aperturas</h1>
	        <div class="" id="results">
	        </div>
		</div>
	</div>

	<script id="empty" type="text/x-jsrender">
		<p class="is-notification has-text-danger">No hay aperturas por el momento.</p>
	</script>

	<script id="games" type="text/x-jsrender">
	    <table class="table is-striped">
	    	<thead>
	    		<th>Mesa</th>
	    		<th>Apertura</th>
	    		<th>Movimientos</th>
	    	</thead>
	    	<tbody>
	    	[[for games]]
				<tr>
					<td><a class="" id="[[:room]]" href="/[[:room]]">[[:~abbrRoom(room)]]</a></td>
					<td><span class="">[[:event]]</span></td>
					<td><span class="">[[:~countMoves(pgn)]]</span></td>
				</tr>
			[[/for]]
	    	</tbody>
	    </table>
	</script>