<%- contentFor('css') %>
	
	<title>Resultados</title>

<%- contentFor('js') %>

	<script type="text/javascript">

	$(document).ready(function(){
		var query = '<%= query.q %>';
		$('input[name=query]').val(query)
	    $.ajax({
	      url:'/search',
	      method:'POST',
	      data: {query:query},
	      success:function(res){
	        $('#results').html($.templates(res.length?"#games":"#empty").render({games:res,query:query},parseHelpers)).promise().done(function (){
	          $('.spinner-container').fadeOut('fast', function(){
	            $('.spinner-content').fadeTo('fast',1)
	          })
	        })
	      }
	    })  
	})

	</script>

<%- contentFor('content') %>

	<svg class="spinner-container" viewBox="0 0 44 44">
	    <circle class="path" cx="22" cy="22" r="20" fill="none" stroke-width="4"></circle>
	</svg>
	
	<div class="container">
		<div class="content">
	        <form id="search">
	            <div class="field has-addons">
	              <div class="control">
	                <input class="input is-rounded" name="query" type="text" placeholder="Ingresa evento, lugar o jugador" autofocus="">
	              </div>
	              <div class="control">
	                <button type="submit" id="searchbtn" class="button is-rounded is-success">
	                    <span class="fa fa-search"></span>
	                </button>
	              </div>
	            </div>
	        </form>   		
	        <div class="" id="results">
	        </div>
		</div>
	</div>

	<script id="empty" type="text/x-jsrender">
	[[if query.length]]
		<p class="is-notification has-text-danger">No hay partidas que coincidan con tu palabra clave.</p>
	[[else]]
		<p class="is-notification has-text-success">Busca por jugador, evento, fecha y/o lugar.</p>
	[[/if]]
	</script>

	<script id="games" type="text/x-jsrender">
	    <p class="is-notification has-text-success">[[:games.length]] partida[[if games.length > 1]]s[[/if]]</p>
	    <table class="table is-striped">
	    	<thead>
	    		<th>Mesa</th>
	    		<th>Evento</th>
	    		<th>Lugar</th>
	    		<th>Blancas</th>
	    		<th>Negras</th>
	    		<th>Resultado</th>
	    		<th>Fecha</th>
	    		<th>Cargado</th>
	    	</thead>
	    	<tbody>
	    	[[for games]]
				<tr>
					<td><a class="" id="[[:room]]" href="/[[:room]]">[[:~abbrRoom(room)]]</a></td>
					<td><span class="">[[:event]]</span></td>
					<td><span class="">[[:site]]</span></td>
					<td><span class="">[[:white]]</span></td>
					<td><span class="">[[:black]]</span></td>
					<td><span class="">[[:result]]</span></td>
					<td><span class="">[[:date]]</span></td>
					<td><span class="">[[:~timeSpan(_id)]]</span></td>
				</tr>
			[[/for]]
	    	</tbody>
	    </table>
	</script>