<%- contentFor('css') %>
<%- contentFor('js') %>
<%- contentFor('content') %>

    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Transmitir en vivo
          </h1>
          <h4 class="subtitle">
            ¿Estás en un torneo o una partida de grandes maestros?
          </h4>
          <div class="content">
            <h4>Comienza a transmitir en vivo una partida y comparte la diversión!.</h4>
            <p></p>
            <a class="button is-success is-large is-outlined" id="create">Transmitir partida en vivo</a>
          </div>
        </div>
      </div>
    </section>

