<%- contentFor('css') %>

	<link rel="stylesheet" href="/css/chessboard.css" />

<%- contentFor('js') %>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/libs/chess.js"></script>
    <script src="/js/libs/chessboard.js"></script>
	<script src="/js/vivo.js"></script>

<%- contentFor('content') %>

	<svg class="spinner-container" viewBox="0 0 44 44">
	    <circle class="path" cx="22" cy="22" r="20" fill="none" stroke-width="4"></circle>
	</svg>
	
	<div class="container">
		<div class="hero">
			<div class="hero-body">
				<div class="empty-container"></div>
			    <div id="boards"></div>
			</div>
	    </div>
	</div>
	<script id="empty" type="text/x-jsrender">
		<div class="container">
			<p class="has-text-grey"><span class="fa fa-warning"></span> No hay partidas en vivo en este momento.</p>
			<a href="#" class="button is-large is-grey is-outlined hero" id="create">Crea tu partida en vivo!</a></p>
		</div>
	</script>

	<script id="match" type="text/x-jsrender">
	    <a href="/[[:room]]" class="columns">
	      <div class="column is-3">
	        <p>
	          [[if black && black.length]]
	          <small>[[:black]]&nbsp;</small>
	          <!--small class="has-text-grey">[[:blackelo]]</small-->
	            [[else]]
	          <small>[[:event]]&nbsp;</small>
	          <!--small class="has-text-grey">[[:blackelo]]</small-->
	            [[/if]]
	        </p>
	        <div id="[[:room]]"></div>
	        <p class="has-text-right">
	          [[if white && white.length]]
	          <small>[[:white]]&nbsp;</small>
	          <!--small class="has-text-grey">[[:whiteelo]]&nbsp;</small-->
	            [[else]]
	          <small>[[:site]]&nbsp;[[:date]]</small>
	            [[/if]]
	        </p>
	      </div>
	      <div class="column">
	        <div class="hero-title">
	        [[if event]]
	          <p>Evento <span class="has-text-grey">[[:event]]</span></p>
	        [[/if]]
	        [[if date]]
	          <p>Fecha <span class="has-text-grey">[[:date]]</span></p>
	        [[/if]]
	        [[if site]]
	          <p>Lugar <span class="has-text-grey">[[:site]]</span></p>
	        [[/if]]
	        [[if eco]]
	          <p>ECO <span class="has-text-grey">[[:eco]]</span></p>
	        [[/if]]
	        [[if result]]
	          <p>Resultado <span class="has-text-grey">[[:result]]</span></p>
	        [[/if]]
	        </div>   
	      </div>
	      <hr>
	    </a>
	</script>